.container{
    width: 300px;
    height: 300px;
    border: solid black;
    border-radius: 10px;
    background: white;
    float: left;
    margin-left: 40px;

}
[data-tooltip-content]{
    font-family:Arial, Helvetica, sans-serif;
    color: pink;
    position: relative;
    text-transform: capitalize;
}
[data-tooltip-content]:hover{
    color: darkolivegreen;
}
[data-tooltip-content]::after{
    content: attr(data-tooltip-content);
    color: orangered;
    background: #3d3d3d;
    padding: 1rem;
    border-radius: .2rem;
    margin-left: 1rem;
    position: absolute;
    white-space: nowrap;
    top: -100%;
    left: 100%;

}
[data-tooltip-content]::before{
    content: "";
    width: 0;
    position: absolute;
    border-right: 1rem solid #3d3d3d;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    left: 100%;
    top: -50%;
    pointer-events: none;
}
[data-tooltip-content]::after,[data-tooltip-content]::before{
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
}

/*revelaing tooltip*/

[data-tooltip-content]:hover::after,[data-tooltip-content]:hover::before{
    opacity: 1;
    visibility: visible;
}