.tooltip-button{
    width: 10px;
    height: 10px;
    border-width: 2px;
    border-color: black;
    border-radius: 2px;
    margin-bottom: 30px;
    white-space: nowrap;

}
.tooltip-button:hover{
    opacity: 1;
}
.tooltip-grid-container{
    background-color: white;
    width: 150px;
    height: 198px;
    border: solid black;
    border-width: 5px;
    border-radius: 12px;
    padding: 4px;
    display: grid;
    grid-template: repeat(5, 1fr)/repeat(3, 1fr);
    grid-gap: 3px 9%;
    grid-template-areas:    "title title title"
                            ". back ."
                            "left top right"
                            ". front ."
                            ". bottom .";

}
[class*="grid-item"]{
    border: solid black;
    border-width: 2px;
    background-color: red;
    border-radius: 2px;
}
.grid-item-title{
    font-style: robooto+
    ;
    font-size: 14px;
    grid-area: title;
    background-color: deepskyblue;
    color: peachpuff;
    text-shadow: firebrick;
    text-align: center;
    text-justify: center;
    padding-top: 5px;
}
.grid-item-back{
    grid-area: back;
}
.grid-item-left{
    grid-area: left;
}
.grid-item-top{
    grid-area: top;
}
.grid-item-right{
    grid-area: right;
}
.grid-item-front{
    grid-area: front;
}
.grid-item-bottom{
    grid-area: bottom;
}
